<!DOCTYPE html>
<html>
<head>
	<title>Wifimaper</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='dbmanager.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='navmenu.css') }}" />
</head>

<nav class="top-menu">
  <a class="navbar-logo" href=""><img src="{{ url_for('static', filename='images/logo.svg')}}"></a>
  <ul class="menu-main">
    <li><a href="{{ url_for('index') }}">Map</a></li>
    <li><a href="{{ url_for('dbmanager') }}">Database manager</a></li>
  </ul>
</nav>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=alert-info>
    <ul class="infocont">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}

<table id="databasetable">
        <tr><th></th><th>Database name</th><th>Database type</th><th>Database host</th><th>Number of access points</th><th>Number of locations</th><th>Time interval</th><th>Description</th></tr>
        {% for db in dblist %}
            <tr
                {% if db['id'] == currentdbid %}
                    class="curentdb"
                {% elif db['dbexsist'] %}
                    class="availabledb"
                {% else %}
                    class="unavailabledb"
                {% endif %}
            ><td>
                {% if db['id'] == currentdbid %}
                    Сurrent database
                {% elif not db['dbexsist'] %}
                    Database unavailable
                {% else %}
                    <button class="selectbtn" onclick="window.location.href='dbmanager/setcurentdb?dbid={{db['id']}}'">Select database</button>
                {% endif %}
             {% if db['id'] != currentdbid %}
             <img class="delbtn" onclick="window.location.href='#delform{{db['id']}}'" src="{{ url_for('static', filename='images/deleteicon.svg')}}">
             {% endif %}
             <img class="propbtn" onclick="window.location.href='#propform{{db['id']}}'" src="{{ url_for('static', filename='images/settingicon.svg')}}">
             </td><td>{{db['dbname']}}</td><td>{{db['type']}}</td><td>{{db['host']}}</td><td>{{db['numberofap']}}</td><td>{{db['numberofloc']}}</td><td>{{db['timefirst']}}-{{db['timelast']}}</td><td>{{db['description']}}</td></tr>
        {% endfor %}
            <tr class="tabbotom"><td><img class="addbtn" onclick="window.location.href='#addform'" src="{{ url_for('static', filename='images/adddatabaseicon.svg')}}"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>

<form class="importform" id="importform" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" target="_blank">
    <input type="file" name="file" id="file" class="input-file">
    <input class="btn uploadbtn" type="submit" value="Upload" id="upload-button">
</form>



{% for db in dblist %}
<a href="#x" class="overlay" id="propform{{db['id']}}"></a>
        <form class="modal" name="db{{db['id']}}" method="POST" action="/dbmanager/adddevice">
	        <input type="hidden" name="dbid" value={{db['id']}}>
	        <label>Database name: {{db['dbname']}}</label>
	        <label>Database type: {{db['type']}}</label>
            {% if db['type'] == "mysql" %}
            <label>Database host:</label>
	        <input type="text" class="host" name="host" value="{{db['host']}}" {% if db['id'] == currentdbid %}disabled{% endif %}>
	        <label>Database user:</label>
	        <input type="text" class="user" name="user" value="{{db['user']}}" {% if db['id'] == currentdbid %}disabled{% endif %}>
            <label>Database password:</label>
	        <input type="text" class="password" name="password" value="{{db['password']}}" {% if db['id'] == currentdbid %}disabled{% endif %}>
            {% endif %}
            <label>Description:</label>
            <textarea rows="4" cols="50" name="description" class="description" required>{{db['description']}}</textarea>
            <input name="submit" class="btn" type="submit" value="Save changes" />
        </form>
{% endfor %}
{% for db in dblist %}
<a href="#x" class="overlay" id="delform{{db['id']}}"></a>
        <form class="modal" name="db{{db['id']}}" method="POST" action="/dbmanager/deletedb">
            <input type="hidden" name="dbid" value={{db['id']}}>
            <label >Delete database from the list?</label>
            {% if db["dbexsist"] %}
            <input type="checkbox" id="deldb" name="deldb" checked>
            {% else %}
            <input type="checkbox" title="Database unavailable" id="deldb" name="deldb" disabled>
            {% endif %}
            <label for="deldb" {% if not db["dbexsist"] %} class="disable" {% endif %}>
                {% if db['type'] == 'sqlite' %}also delete the database file
                {% elif db['type'] == 'mysql'%}also remove database from server
                {% endif %}</label>
            <input name="submit" class="btn" type="submit" value="Delete" />
        </form>
{% endfor %}
<a href="#x" class="overlay" id="addform"></a>
        <form class="modal" name="db2" method="POST" action="/dbmanager/newdb">
            <label>Database type:</label>
            <select class="selecttype" name="dbtype" id="dbtype">
                <option value="sqlite" id="sqlite">SQLite</option>
                <option value="mysql" id="mysql">MySQL</option>
            </select>
            <label>Database name:</label>
            <input type="text" class="dbname" name="dbname" value="mydb">
            <label>Database host:</label>
            <input type="text" class="host" name="host" value="127.0.0.1" id="newhost">
            <label>Database user:</label>
            <input type="text" class="user" name="user" value="root" id="newuser">
            <label>Database password:</label>
            <input type="text" class="password" name="password" value="123456" id="newpassword">
            <label>Description:</label>
            <textarea rows="4" cols="50" name="description" class="description" required>None</textarea>
            <input name="addorcrdb" type="radio" id="add" value="add">
            <label for="add">add existing database</label>
            <input name="addorcrdb" type="radio" id="create" value="create" checked>
            <label for="create">create new database</label>
            <input name="submit" class="btn" id="addbtn" type="submit" value="" />
        </form>
<script type="text/javascript">
    var dbtype = document.getElementById("dbtype"),
        host = document.getElementById("newhost"),
        user = document.getElementById("newuser"),
        password = document.getElementById("newpassword"),
        add = document.getElementById("add"),
        create = document.getElementById("create"),
        button = document.getElementById("addbtn");
    function typeoption () {
    switch (dbtype.value) {
    case 'sqlite':
        host.disabled = 'disabled';
        user.disabled = 'disabled';
        password.disabled = 'disabled';
        break;
    case 'mysql':
        host.disabled = '';
        user.disabled = '';
        password.disabled = '';
        break;
     }
    }
    function addoption() {
        if (add.checked) button.value="Add existing database"
        if (create.checked) button.value="Create new database"
    }
    typeoption();
    addoption();
    dbtype.addEventListener('change', function () {typeoption();});
    add.addEventListener('change', function () {addoption();});
    create.addEventListener('change', function () {addoption();});
</script>
</body>
</html>
