<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Import {{filename}}</title>
		<script src="https:\\cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
		<script src="https:\\ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<link href="{{url_for('static', filename='importer.css')}}" rel="stylesheet">
		</head>
    <body>
		<script type="text/javascript">
			$(document).ready(function() {

				var socket = io.connect('localhost:5000');

				socket.on('message', function(msg) {
					console.log(msg);
					if (msg["msg"]==='importinfo') {
						$("#messages").append('<li>'+msg["info"]+'</li>');
						$("#progressbar").attr("value", parseInt(msg["checkloc"], 10))
						}
					if (msg["msg"]==='number_of_loc_and_ap') {
						$("#numberap").append(msg["numberap"]);
						$("#numberloc").append(msg["numberloc"]);
						$("#progressbar").attr("max", parseInt(msg["numberloc"], 10))
						}
					if (msg["msg"]==='resultinfo') {
						$("#result").text(msg["info"]);
						}
				});

			});
		</script>

		<u1 id="messages"></u1>

		<div class="info">
			<p>File: {{filename}}</p>
			<p>File type: Wigle csv file</p>
			<p id="numberap">Number of access point records to import: </p>
			<p id="numberloc">The number of imported records locations: </p>
			<p id="accuracy">Accuracy (meters): {{accuracy}}</p>
			<progress id="progressbar" value="0" max="100"></progress>
		</div>
		<p id="result"></p>
    </body>

</html>