<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Import {{filename}}</title>
		<script src="https:\\cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
		<script src="https:\\ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<link href="{{url_for('static', filename='importer.css')}}" rel="stylesheet">
		</head>
    <body>
		<script type="text/javascript">


			$(document).ready(function() {

				var socket = io.connect('localhost:5000/importer');

				socket.on('numberaploc', function(filename, numberap, numberloc, accuracy){
					$("#numberap").append(numberap);
					$("#numberloc").append(numberloc);
				});

				socket.on('checkloc', function(filename, progress) {
					$("#progressbar").attr("value", parseInt(progress, 10));
				});

				socket.on('importinfo', function(msg) {
					$("#messages").append('<li>'+msg+'</li>');
				});

				socket.on('resultinfo', function(filename, msg) {
					$("#result").text(msg);
				});

			});
		</script>

		<u1 id="messages"></u1>

		<div class="info">
			<p>File: {{filename}}</p>
			<p>File type: {% if filetype == "csv" %} Wigle csv file
						  {% elif filetype == "sqlite" %} Wigle sqlite file{% endif %}</p>
			<p id="numberap">Number of access point records to import: </p>
			<p id="numberloc">The number of imported records locations: </p>
			<p id="accuracy">Accuracy (meters): {{accuracy}}</p>
			<progress id="progressbar" value="0" max="100"></progress>
		</div>
		<p id="result"></p>
    </body>

</html>