<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Wifimaper</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='wifi.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='navmenu.css') }}" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

		<style>
		* {
        margin: 0;
        padding: 0;
		}
		#mapid {
        position: absolute;
        width: 100%;
        height: 97%;
		}
		.leaflet-control {
    	top: 65px;
		}
		</style>
</head>

<nav class="top-menu">
  <a class="navbar-logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.svg')}}"></a>
  <ul class="menu-main">
    <li><a href="{{ url_for('index') }}">Map</a></li>
    <li><a href="{{ url_for('dbmanager') }}">Database manager</a></li>
    <li><a href="{{ url_for('importmanager') }}">Import manager</a></li>
  </ul>
</nav>

<body>
    <div id="mapid"></div>
	<script>
		var myJson;
				
		function getjsonbounds(){
		  url = "getapmarkers?bounds=" + map.getBounds().toBBoxString();
		  console.log(url);
		  $.ajax({
			  url,
			  type: 'GET',
			  success: onGetSuccess,
			  error: onGetError
			  });
	      };
		
		function refresh(){
		markers.clearLayers();
		getjsonbounds();
		}
		
		function onGetSuccess(data){
		myJson = L.geoJson(data, {
		onEachFeature: onEachFeature
		});
		markers.addLayer(myJson); // add it to the cluster group
		map.addLayer(markers);		// add it to the map
		};
		
		function onGetError(data){
		console.log(data);
		alert("Ваш запрос не может быть выполнен. Статус ошибки: "+data.status);
		//document.getElementById('loading').style.display='none';	  
		};
		
		
		
		var map = L.map('mapid').setView([58.049312, 56.038141], 15);
		var tileUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',													//
			tileAttribution = 'Map data <a target="_blank" href="http://www.openstreetmap.org">OpenStreetMap.org</a>' +		// Загрузка тайлов карты OpenStreetMap	
			' contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';							//
		L.tileLayer(tileUrl,{attribution: tileAttribution}).addTo(map);														// 
		var markers = L.markerClusterGroup();
		refresh();
		
		map.on('moveend',function(e){
		  refresh();
		  info.update();
	    });
		
		map.on('click',function(e){
		  info.update();
	    });
		
		var info = L.control({position: 'topright'});
				
		info.onAdd = function (map) {
		  this._div = L.DomUtil.create('div', 'info'); 
		  this.update();
		  return this._div;
		  };
		
		info.update = function (props) {
		  //console.log(props);
		  this._div.innerHTML = '<h4>Информация о точке доступа</h4>' +  (props ?
			'SSID: <b>' + props.ssid + '</b>' +
			'<br> BSSID: ' + props.bssid +
			'<br> Вид защиты: ' + props.capabilities +
			'<br> Канал: ' + props.channel +
			'<br> Производитель: ' + props.vendor +
			'<br> Лучший уровень сигнала: ' + props.bestlevel +
			'<br> Время первого наблюдения: ' + props.firsttime +
			'<br> Время последнего наблюдения: ' +  props.lasttime +
			'<br> Количество наблюдений: ' + props.numberofloc//+
			: 'Кликните на маркер');
	      };
		
		info.addTo(map);
		
		function onEachFeature(feature, layer) {
			layer.on({click: getapinfo});
			layer.bindPopup('<b>SSID: </b>' + feature.properties.ssid +
							'<br> <b>BSSID: </b> <a href="location/' + feature.id + '" target="_blank">' + feature.properties.bssid + '</a>'// +
							);
			}
		
		function getapinfo(e){
		var layer = e.target;
		url = "getapinfo?apid=" + layer.feature.id;
		console.log(url);
		  $.ajax({
			  url,
			  type: 'GET',
			  error: onGetError,
			  success: function (apinfo){
				info.update(apinfo);
			  }
			  });
		};
		
		
	</script>
</body>
</html>