.top-menu {
  background: rgba(210, 210, 210,.8);
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.navbar-logo {
	display: inline-block;
	float: left;
}
.navbar-logo img{height: 60px;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: black;
}

.menu-main a:hover {
	background: #b3b3b3;
	transition: .3s linear;
	}